*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 1.6rem; /*16px*/
}

.container{
    border: 0.3rem solid black;
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-evenly;
    /*ubicamos los hijos de forma vertical*/ 
    /* flex-direction: column; */ 
    /*flex-direction: row-reverse; invierte el orden de los hijos dentro del contenedor */
}

.box{
    width: 10rem;
    height: 10rem;
}

.box-1{
    background-color: blue;
}

.box-2{
    background-color: blueviolet;
}

.box-3{
    background-color: burlywood;
}

.box-4{
    background-color: cadetblue;
}

.box-5{
    background-color: coral;
}

.box-6{
    background-color: salmon;
}