*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 1.6rem; /*16px*/
}

.container{
    border: 0.3rem solid black;
    display: flex;
    flex-wrap: wrap;
    /* align-items: baseline; */
    /*aumentamos la altura del container para mover los elementos hijos*/
    /* height: 50vh; */

    /*flex-direction: row; */
    /*flex-direction: row-reverse; invierte el orden de los hijos dentro del contenedor */
}

.box{
    /* width: 10rem; */
    height: 10rem;
    flex-basis: 10rem;
    flex-grow: 1;
}

.box-1{
    background-color: blue;
    /* flex-grow: 1; */
    /* order: 3; */
}

.box-2{
    background-color: blueviolet;
    /* flex-grow: 1; */
    /* order: 1; */
}

.box-3{
    background-color: burlywood;
    /*si no ponemos order entonces se envia a la izquierda*/
}

.box-4{
    background-color: cadetblue;
    /* order: 2; */
}

.box-5{
    background-color: coral;
    
}

.box-6{
    background-color: salmon;
    /* flex-grow: 1; */
    /* order: 4; */
}